<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors defaultRedirect="~/error/404.aspx" mode="RemoteOnly">
      <error statusCode="404" redirect="~/error/404.aspx"/>
    </customErrors>
    <roleManager enabled="true"/>
    <authentication mode="Forms">
      <forms loginUrl="login/login.aspx"/>
    </authentication>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=6k183g7; Persist Security Info=True; User ID=6k183g7; Password=pAssw00rd!" />
    <add name="cs_SLPL" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=6k183g7; Persist Security Info=True; User ID=6k183g7; Password=pAssw00rd!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>